}
.login-container {
    background: #e1e1e1;
    box-shadow: 1px 1px 10px black;
    background: #f7fbf1
}
.login-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background: transparent;
    position: relative;
    margin-top: 2cm;
}
.login-inputs,.title
{
    position:relative;
    top:20%;
}
input {
    outline: none;
    border: none;
    width:100%;
    background:none;
    border-bottom:1px solid black;
}
{
  font-weight:bold;
    }