body
{
    font-family:Arial, Helvetica, sans-serif;
}
.login-container {
    background: #e1e1e1;
    margin: 50px;
    margin-left: auto;
    height: 500px;
    padding:30px;
    max-width: 500px;
    position:relative;
    left:11vw;
    top:3cm;
    text-align:center;
    box-shadow: 1px 1px 10px black;
}
.login-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background: transparent;
    position: relative;
    margin-top: 2cm;
    width:100%;
}
input {
    outline: none;
    border: none;
    width:100%;
    padding:10px;
    background:none;
    border-bottom:1px solid black;
}
button
{
    padding:15px;
    width:100%;
    margin-top:20px;
    font-weight:bold;
    font-size:20px;
    margin-bottom:20px;
}