body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#title
{
    position:relative;
    top:1cm;
}
.register-container {
    background: #e1e1e1;
    text-align: center;
    max-width: 530px;
    margin: 15% 0 auto auto;
    position:relative;
    left:5cm;
    height: 540px;
    
}
input
{
    margin:15px 0 10px 0;
    padding:10px 0px 10px 0px;
    width:85%;
    background:transparent;
    outline:none;
    border:none;
    border-bottom:1px solid black;
}
button {
    margin: 30px auto;
    padding: 20px 0px 20px 0px;
    width: 85%;
    outline: none;
    border-radius: 13px;
    font-weight: bold;
    font-size: 20px;
}
.input-contain {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    position:relative;
    top:2cm;
}
